<!DOCTYPE html>
<html>
  <head>
    <script src="/modules/injections.js" type="module"></script>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#ff643c" />

    <link href="/resources/amuject.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />

    <title>AMUJECT.COM</title>
  </head>

  <body>
    <nav>
      <div class="title">
        <a href="/">AMUJECT.COM</a>
      </div>
      <div class="index">
        <span>INDEX</span>
      </div>
      <div class="account">
        <div class="login">LOGIN🔒</div>
      </div>
    </nav>

    <section id="nav-margin"></section>

    <section id="index"></section>

    <header>
      <div class=""></div>
      <div class=""></div>
      <div class=""></div>
    </header>

    <main>
      <header>
        <div class="image"></div>
        <div class="text">
          <p>아무거나 프로젝트 TEXT TEXT TEXT TEXT</p>
          <p>아무- + project</p>
          <p>by Sungwan Jo</p>
        </div>
      </header>
      <article>
        <div class="title">Wa Sans Da</div>
        <div class="desc">DESC DESC DESC DESC DESC</div>
        <div class="content">CONTENT CONTENT CONTENT CONTENT CONTENT</div>
      </article>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </main>

    <footer>
      <div class="banners">
        <img src="/resources/banners/amuject-banner.gif" alt="아무젝트" />
        <a>
          <img src="/resources/banners/csf-banner.gif" alt="중앙샌즈재단" />
        </a>
        <img src="/resources/banners/valid-html-ls.png" />
        <img src="/resources/banners/valid-css.png" />
        <img src="/resources/banners/valid-ecmascript-2020.png" />
      </div>
    </footer>

    <script src="index.js" type="module"></script>
  </body>
</html>
