<!DOCTYPE html>
<html>
  <head>
    <script src="/modules/injections.js" type="module"></script>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content="#ff643c" />

    <link href="/resources/amuject.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />

    <title>AMUJECT.COM</title>
  </head>

  <body>
    <h1>AMUJECT.COM (WIP)</h1>

    <script src="index.mjs" type="module"></script>
  </body>
</html>
