nav {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#nav-margin {
  width: 100%;
  height: 3rem;
}
nav > .title,
nav > .index,
nav > .account {
  height: 2.5rem;
}
nav > .title {
  grid-column: 1 / 3;
}
nav > .title > a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
  cursor: pointer;
}
nav > .index {
  grid-column: 3 / 6;
}
nav > .index > span {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
  cursor: pointer;
}
nav > .account {
  grid-column: 6 / 8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav > .account .login {
  display: inline-flex;
  align-items: center;
  background: black;
  color: rgb(245, 245, 245);
  font-size: 1rem;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 100px;
  border: solid 0.1rem black;
}

main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
main > header {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0 1rem;
}
main > header > .image {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  grid-column: 1 / 3;
  aspect-ratio: 1 / 1;
  border-radius: 0.75rem;
  background: red;
}
main > header > .text {
  grid-column: 3 / 8;
}
main > header > .text > * {
  font-size: 2rem;
}
main > article {
  grid-column: 1 / 8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0 1rem;
}
article {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
article > .title {
  grid-column: 1 / 3;
  font-size: 2rem;
}
article > .desc {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 2rem;
  line-height: 2.5rem;
}
article > .content {
  grid-column: 3 / 6;
}

footer > .banners img {
  image-rendering: pixelated;
}
